body {
  margin: 0;
  border: 0;
  padding: 0;
}

#canvas {
  position: absolute !important;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

#dateText
{
    color: #fff;
    position : absolute;
    bottom : 10px;
    left : 10px;
    z-index : 11;
    background-color: #303030;
    opacity: 1;
    font-size: 12px;
    font-family : monospace;
    padding-left : 20px;
    padding-right : 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dateContainer
{
    width: 700px;
    color: #fff;
    position : absolute;
    bottom : 10px;
    left : 10px;
    z-index : 11;
    background-color: #303030;
    opacity: 0.5;
    font-size: 15px;
    font-family : monospace;
    z-index : 6;
}

/*
.container {
  position: absolute;
  border: none;
  outline: none;
}*/


#warningText
{
    color: #fff;
    position : absolute;
    top : 10px;
    left : 10px;
    z-index : 11;
    background-color: #700000;
    opacity: 1;
    font-size: 15px;
    font-family : monospace;
    padding-left : 20px;
    padding-right : 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#warningContainer
{
    width: 300px;
    color: #fff;
    position : absolute;
    top : 10px;
    left : 10px;
    z-index : 11;
    background-color: RED;
    opacity: 0.5;
    font-size: 15px;
    font-family : monospace;
    z-index : 6;
}

#targetText
{
    color: #fff;
    z-index : 11;
    opacity: 1;
    top : 10px;
    font-size: 25px;
    font-family : monospace;
    text-align : center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#targetContainer
{
    z-index : 11;
    opacity: 1.0;
    padding-top : 10px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 400px;
  }

  #TLEcontainer
{
    z-index : 11;
    opacity: 0.8;
    padding-top : 10px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 500px;
    top: 40%;
    visibility:  hidden;
  }

  #TLEListcontainer
{
    z-index : 11;
    opacity: 0.8;
    padding-top : 10px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 500px;
    top: 40%;
    visibility:  hidden;
  }

  #TLESelectlist
  {
    width: 500px;
  }

  #TLESelectcontainer
  {
      z-index : 11;
      opacity: 0.8;
      padding-top : 10px;
      position: absolute; 
      left: 0; 
      right: 0; 
      margin-left: auto; 
      margin-right: auto; 
      width: 500px;
      top: 40%;
      visibility:  hidden;
    }
  